/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
    margin: 0 auto;
    display: block;
}

section {
  max-width: 100%;
  margin: 0;
}

header {
  background: #333;
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  font-size: 1.4em;
  margin: 0;
  margin-left: 1rem;
}

article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

footer {
  background: #333;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  color: #fff;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  color: #000;
  flex: 1 1 auto;
}

.text {
  color: #000;
  padding: 1rem;
  width: 600px;
  line-height: 1.35rem;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#cougar {
  background: #FFD5AE;
}

#lion {
  background: #FFBD82;
}

#tiger {
  background: #DF7C20;
}
/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
    text-decoration: none;
}
a:hover {
    color: #82E8FF;
}
